  * {
    margin: 0;
    padding: 0;
  }

  .q {
    width: 100px;
    height: 100px;
    background-color: #9f2323;
    border-radius: 50%;
    margin: auto;
  }

  .a {
    width: 100px;
    height: 100px;
    background-color: #9f2323;
    margin: auto;
  }

  .a,
  .q {
    animation: a 3s ease-in-out infinite;
  }






  @keyframes a {
    0% {
      width: 100px;
      height: 100px;
    }

    25% {
      border-radius: 50%;
      background-color: #af0909;
    }

    50% {
      width: 100px;
      height: 100px;
      background-color: #250101;

    }

    75% {
      border-radius: 50%;
      background-color: #24af5a;
    }

    100% {
      width: 100px;
      height: 100px;
      background-color: #9f2323;

    }
  }